body {
  background-color: white;
  color: black;
  font-family: 'Relaway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}


#image_container,
#image_container-onca {
  width: 100%;
  max-width: 8000px;
  /* Ajuste o valor conforme necessário */
  margin: 0 auto;
  /* Isso centraliza horizontalmente */
  overflow: hidden;
  /* Isso corta qualquer conteúdo que transborde */

}

.sem-transbordar {
  object-fit: none;
  clip-path: inset(10px 0 0 0);
  margin-top: -55px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: 0 auto;
  /* Isso centraliza horizontalmente a imagem dentro do seu contêiner */
  margin-bottom: -55px;
  /* Isso corta 10px da base da imagem */
}


.imagem_quiz {
  width: 100%;
}

.mensagem_final {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-melhorar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
  font-weight: 400;
  font-size: 0.8em;
  gap: 50px
}

.a_melhorar__titulo {
  text-align: left
}

.parabens {
  font-weight: 400;
  font-size: 0.8em;
}

#titulo_final {
  text-align: center;
}

.imagem_final {
  display: none;
}


#nextButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  border: solid black 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#nextButton:hover,
.voltar-link:hover {
  background-color: black;
  color: #fff;
}

#feedback {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;

}

/* Estilizando a caixinha de título das áreas do mapa de imagem */
area[title] {
  position: relative;
  overflow: hidden;
}

/* Estilizando o conteúdo da caixinha de título */
area[title]::after {
  content: attr(title);
  position: absolute;
  bottom: -200px;
  /* Ajusta a distância do título em relação à área */
  left: 0;
  right: 0;
  /* Define a largura total da caixa de título */
  margin: auto;
  /* Centraliza horizontalmente */
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  /* Altera a família da fonte para Raleway */
  opacity: 0;
  /* Inicialmente oculta a caixinha de título */
  transition: opacity 0.5s ease;
  /* Aumenta o tempo de transição para 0.5 segundos */
  text-align: center;
  /* Centraliza o texto horizontalmente */
}

/* Mostra a caixinha de título quando o mouse passa sobre a área */
area:hover::after {
  opacity: 1;
}

.voltar-link {
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: solid #fff 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}