* {
  margin: 0;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: 'Relaway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  /* Remove as margens padrão do body */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Garante que a página ocupe pelo menos toda a altura da tela */
}

main {
  text-align: center;
  /* Centraliza o conteúdo dentro do elemento main */
}

h1 {
  background-color: #e0dcc4;
  padding: 1em;
  color: black;
  margin-bottom: 1em;
}

h2,
h3 {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #fff;
}

.orientacoes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.orientacao {
  list-style-type: none;
}

#image_container-onca {
  width: 100%;
  max-width: 8000px;
  /* Ajuste o valor conforme necessário */
  margin: 0 auto;
  /* Isso centraliza horizontalmente */
  overflow: hidden;
  /* Isso corta qualquer conteúdo que transborde */

}

img {
  display: block;
  margin: 0 auto;
  /* Isso centraliza horizontalmente a imagem dentro do seu contêiner */
  margin-bottom: -55px;
  /* Isso corta 10px da base da imagem */
}

.texto-main {
  text-align: left;
  padding: 2em;
}

.quiz-container {
  text-align: center;
  /* Centraliza o conteúdo dos quizes dentro da div */
  margin-top: 3em;
  /* Espaçamento entre os grupos de quizes */
}

.quiz-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centraliza os quizes horizontalmente */
  gap: 3em;
  margin-bottom: 2em;
}

.quiz-link {
  width: 15%;
  padding: 1em;
  background-color: black;
  border: solid white 1px;
  padding: 2%;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* Define a direção da flexbox para coluna */
  height: 10em;
  border-radius: 7px;
}

.quiz-link img {
  display: block;
  margin: 0 auto;
}

.quiz-preview {
  width: 100%;
  display: block;
  margin: 0 auto;
}